@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/SofiaProRegular.otf");
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro Medium";
  src: url("../fonts/SofiaProMedium.otf");
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro Light";
  src: url("../fonts/SofiaProLight.otf");
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro Extra Light";
  src: url("../fonts/SofiaProExtraLight.otf");
  font-display: swap;
}

body {
  font-family: 'Sofia Pro';
}

#page {
  margin-top: 60px;
  margin-bottom: 40px;
}

h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}

h5.card-title {
  font-family: 'Barlow', sans-serif;
}

.upcoming-token {
  font-weight: normal;
}

#hero h1 {
  font-size: 36px;
  font-weight: bold;
  color: #0F023D;
}

#hero h4 {
  font-size: 16px;;
  color: #7E83AD;
  line-height: 26px;
}

h3.section-header {
  color: #7A7C8F;
  font-family: 'Sofia Pro';
  font-weight: normal;
  font-size: 22px;
}

.navbar {
  height: 80px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.navbar-brand > img {
  height: 50px;
  margin-right: 10px;
}

.navbar .nav-item {
  margin-right: 15px;
}

.navbar-light .navbar-brand {
  color: #004AD7;
}

.navbar-blue {
  background: #004AD7;
  font-family: 'Sofia Pro';
  font-weight: normal;
  font-size: 16px;
}

.navbar-blue a {
  color: white;
}

#upcoming-allocation {
  border-left: 1px solid rgba(0,0,0,.1);
}

a.nav-link.active {
  border-bottom: 1px solid white;
  padding-bottom: 0px;
}

section.row {
  margin-top: 80px;
}

section.bg-gray {
  background: #FBFBFB;
  min-height: 280px;
}

.logo-img {
  opacity: 0.5;
  width: 75%;
}

.subscribe-container {
  justify-content: left;
  display: grid;
  margin: 5vh 0 2vh;
  place-items: center;
  width: 100%;
  /* height: 200px; */
}

.email-input {
  border: none;
  outline: none;
  border: 1px solid #333333;
  border-radius: 5px;
  border-right: none;
  position: relative;
  /* left: 5px; */
  width: 250px;
  padding-left: 10px;
}

.field-wrapper {
  display: flex;
  /* border: 1px solid red; */
  width: fit-content;
}

.subscribeButton {
  white-space: nowrap;
  text-align: center;
  color: $white;
  background: #333333;
  box-shadow: 0px 3px 6px #236ef849;
  border-radius: 5px;
  display: inline-block;
  font-family: "Sofia Pro", sans-serif;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  right: 10px;
  color: transparent;
  background-image: url('../../assets/images/paper-plane.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  height: 50px;
}

.icon-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin: 10vh auto 5vh;
}


.icon-link-wrapper {
  height: 30px;
  width: 30px;
  margin: 0 15px;
}


.icon-link {
  height: 30px;
  width: 30px;
}


.icon-image {
  height: 30px;
  width: 30px;
  background-size: 100%;
  background-position: center;
  opacity: 0.7;
}
