.hero-github-btn {
  white-space: nowrap;
  text-align: center;
  color: $white;
  background: #333333;
  box-shadow: 0px 3px 6px #236ef849;
  border-radius: 5px;
  display: inline-block;
  font-family: "Sofia Pro", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s background ease-in-out, 0.3s box-shadow ease-in-out;

  &:hover {
    background: #4d4d4d;
    box-shadow: none;
    transition: 0.3s background ease-in-out, 0.3s box-shadow ease-in-out;
  }

  @include xs() {
    font-size: 1.15rem;
    padding: 0.55rem 0.9rem;
  }
  @include md() {
    padding: 0.7rem 2rem;
  }
}

.github-logo {
  @include xs() {
    width: 20px;
  }
}

.hero-graphic {
  @include md() {
    margin-top: -2rem !important;
  }
}

.features-graphic {
  @include xs() {
    min-width: 150px !important;
    min-height: 150px !important;
  }
  @include lg() {
    min-width: 250px !important;
    min-height: 250px !important;
  }
}

.get-started-btn {
  text-align: center;
  color: $white;
  background: #004ad7;
  box-shadow: 0px 3px 6px #236ef849;
  border-radius: 5px;
  display: inline-block;
  font-family: "Sofia Pro", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s background ease-in-out, 0.3s box-shadow ease-in-out;

  &:hover {
    background: #4d4d4d;
    box-shadow: none;
    transition: 0.3s background ease-in-out, 0.3s box-shadow ease-in-out;
  }

  @include xs() {
    font-size: 1.15rem;
    padding: 0.55rem 0.9rem;
  }
  @include md() {
    padding: 0.7rem 2rem;
  }
}

.team-graphic {
  @include md() {
    max-width: 100px !important;
    max-height: 100px !important;
    border-radius: 50%;
  }
  @include md() {
    max-width: 150px !important;
    max-height: 150px !important;
  }
}
